@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i");
@font-face {
  font-family: 'bulletsregular';
  src: url("../font/bullets-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*:focus {
  outline: none;
}

html {
  font-size: 1em;
  background-color: #fafaf5;
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 400;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

::selection {
  background-color: #ffe066;
}

li:before {
  content: "g";
  font-family: "bulletsregular";
  color: #fc0;
}

h1:after {
  content: '';
  margin-left: -0.1em !important;
}

p {
  font-size: 21px;
  line-height: 28px;
  margin-bottom: 0.5rem;
}

@media (min-width: 961px) {
  p {
    margin-bottom: 1rem;
  }
}

h1, h2, h3, h4 {
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 700;
  margin: 0;
  color: #504d54;
}

h1 {
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 1.5rem;
}

@media (min-width: 961px) {
  h1 {
    font-size: 44px;
    line-height: 60px;
    margin-bottom: 3rem;
  }
}

h2 {
  font-size: 21px;
  line-height: 28px;
}

@media (min-width: 961px) {
  h2 {
    font-size: 32px;
    line-height: 44px;
  }
}

h3 {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 900;
  margin-bottom: 1rem;
}

@media (min-width: 961px) {
  h3 {
    margin-bottom: 1.5rem;
    font-size: 16px;
    line-height: 28px;
  }
}

h4 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 200;
}

@media (min-width: 961px) {
  h4 {
    font-size: 16px;
    line-height: 28px;
  }
}

body > section,
body > header,
body > footer {
  padding-left: calc(3rem + 8vw);
  padding-right: calc(3rem + 8vw);
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  position: relative;
  z-index: 2;
}

@media (max-width: 760px) {
  body > section,
  body > header,
  body > footer {
    padding-left: calc(calc(3rem + 8vw) / 2);
    padding-right: calc(calc(3rem + 8vw) / 2);
  }
}

@media (min-width: 961px) {
  body > section,
  body > header,
  body > footer {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
}

.navigation-menu {
  padding-left: calc(3rem + 8vw);
  padding-right: calc(3rem + 8vw);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  height: 6rem;
  background-color: #504d54;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

@media (max-width: 760px) {
  .navigation-menu {
    padding-left: calc(calc(3rem + 8vw) / 2);
    padding-right: calc(calc(3rem + 8vw) / 2);
  }
}

@media (min-width: 1025px) {
  .navigation-menu {
    height: 8rem;
  }
}

.navigation-menu .shrink {
  height: 3rem;
}

.navigation-menu .shrink > a {
  font-size: 1rem;
}

.navigation-menu .shrink > a:first-child {
  transform-origin: 0 0;
}

.navigation-menu > a {
  display: block;
  font-size: 1rem;
  float: right;
  color: #fff;
  line-height: 6rem;
}

@media (min-width: 961px) {
  .navigation-menu > a {
    font-size: 12px;
  }
}

@media (min-width: 1025px) {
  .navigation-menu > a {
    line-height: 8rem;
  }
}

.navigation-menu > a:first-child {
  font-family: "Roboto", Helvetica, sans-serif;
  float: left;
  margin-left: 0;
  margin-right: calc(0.5rem + 2vw);
  font-weight: 900;
  font-size: 1.5rem;
  transform-origin: 0 50%;
}

@media (min-width: 961px) {
  .navigation-menu > a:first-child {
    font-size: 1.75rem;
  }
}

@media (min-width: 1025px) {
  .navigation-menu > a:first-child {
    font-size: 2rem;
  }
}

.navigation-menu > a.link {
  cursor: pointer;
  letter-spacing: 0.05em;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0 1rem;
  transition: all 0.3s ease;
}

@media (max-width: 760px) {
  .navigation-menu > a.link {
    display: none;
  }
}

@media (max-width: 960px) {
  .navigation-menu > a.link {
    font-size: 1rem;
    padding: 0 0.5rem;
  }
}

.navigation-menu > a.link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.navigation-menu > a.link:focus, .navigation-menu > a.link:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.navigation-menu > a.link.-active {
  color: #fc0;
  box-shadow: 0 -4px #fc0 inset;
}

.section {
  padding-top: 10rem;
  padding-bottom: 2rem;
  background-color: #fafbf5;
  overflow: hidden;
}

.section > img {
  max-width: 100%;
}

@media (max-width: 760px) {
  .section {
    text-align: center;
  }
  .section > img {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 761px) {
  .section > img {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    float: right;
  }
}

.section-columned {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-columned > h1 {
  width: 100%;
}

.section-columned > .column {
  width: 30%;
  min-width: 8rem;
  flex-grow: 1;
}

.section-columned > .column > * {
  display: block;
}

.section-footer {
  background-color: #201f22;
  color: rgba(255, 204, 0, 0.6);
  display: flex;
  box-shadow: 0 0 64px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.section-footer p {
  margin: 0;
}

.section-footer > .column {
  width: 25%;
  min-width: 8rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  flex-grow: 1;
}

.section-footer > .column > * {
  display: block;
}

.button {
  color: #504d54;
  background-color: #fc0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 3rem;
  padding-left: 3rem;
  font-size: 16px;
  line-height: 20px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-align: center;
  border: none;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.button:hover {
  background-color: #f2c200;
}

.button:focus {
  background-color: #e6b800;
}

.button:active {
  background-color: #d9ad00;
}

.button.-cancel {
  color: #fff;
  background-color: #ccc;
}

.button.-cancel:hover {
  background-color: #c2c2c2;
}

.button.-cancel:focus {
  background-color: #b8b8b8;
}

.button.-cancel:active {
  background-color: #adadad;
}

.button:hover {
  background-color: #feda4a;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.button:focus, .button:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.4);
  background-color: #f2c200;
  color: #000;
}

.dot, h1:after {
  display: inline-block;
  background-color: #fc0;
  height: 0.25em;
  width: 0.25em;
  margin-right: 0.15em;
  margin-left: 0.15em;
}
