.section
  padding-top: 10rem
  padding-bottom: 2rem
  background-color: #fafbf5
  overflow: hidden
  +medium-up
    img
      margin-left: 0.5rem
      margin-right: 0.5rem
      margin-bottom: 1rem
      float: right
      border: solid 4px #ddd