html
  font-size: 1em
  background-color: #fafbf5
  font-family: $font-family-body
  font-weight: 400
  height: 100%
  -webkit-font-smoothing: antialiased
  font-smooth: always
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004)

a
  text-decoration: none

*:before
*:after
*
  box-sizing: border-box
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box

::selection
  background-color: $color-selection

li:before
  content: "g"
  font-family: "bulletsregular"
  color: #fc0