html

  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
    title Dra. Júlia Torres - Psiquiatra em Brasília
    meta name="description" content=""
    meta name="author" content=""
    meta name="keywords" content=""
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    link rel="icon" type="image/png" href="./images/favicon.png"
    link href="./style/style.css" rel="stylesheet" type='text/css'
    script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"

  body

    nav.navigation-menu
      a Dra. Júlia Torres
      a.link href="#where" Consultórios
      a.link href="#pricing" Preços & Planos
      a.link href="#about" Sobre

    section#about.section
      img src="./images/julia.jpg"/
      h2 Sobre

      p Psiquiatra formada no IPUB/UFRJ, Dra. Júlia Torres atende principalmente crianças, adolescentes e adultos com problemas de ansiedade, depressão e TDAH.

      a.button href="#where" Agende uma consulta

    section#pricing.section-columned
      .column
        h2 Preços
        h3 Consultas
        p R$450
        h3 Formas de Pagamento
        p Dinheiro, Cheque ou Depósito.
      .column
        h2 Planos
        p
          b Dra. Júlia não é conveniada a nenhum plano de saúde.

        p Se você possui seguro saúde ou a opção de livre escolha em seu plano de saúde, poderá receber reembolso apresentando o recibo que será entregue durante a consulta.

      h2 Consultórios
      .column
        h3 Liberty Mall
        p Torre B - Sala 807
        p Asa Norte
        p Tel. (61) 3024-9058

      .column
        h3 Centro Médico Lúcio Costa
        p SGAS 610, Lt 74 Conjunto F
        p Bl.2 - Sala 227
        p Asa Sul
        p Tel. (61) 3536-6360

    footer.section-footer
      .column
        p Júlia Torres c Copyright 2017

    script src="js/scripts.js"
